<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KeepGreening - About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename = "css/bootstrap-grid.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename = "css/bootstrap-grid.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename = "css/bootstrap-reboot.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename = "css/bootstrap.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename = "css/main.css") }}">

    <script src="{{ url_for("static", filename = "js/jquery-3.3.1.min.js") }}"></script>
    <script src="{{ url_for("static", filename = "js/bootstrap.bundle.js") }}"></script>
    <script src="{{ url_for("static", filename = "js/bootstrap.js") }}"></script>
    <script src="{{ url_for("static", filename = "js/customized-functions.js") }}"></script>
    <script src="{{ url_for("static", filename = "js/main.js") }}"></script>
</head>
<body>
<div class="container-fluid header">
    <div class="row">
        <nav class="navbar navbar-expand navbar-light">
            <a class="navbar-brand" href="{{ url_for(".index") }}"><img
                    src="{{ url_for("static", filename = "images/logo.png") }}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for(".index") }}">Home<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for(".search") }}">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for(".calculator") }}">Calculator</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for(".about") }}">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <h1>Feature under construction, coming soon ...</h1>
</div>
</body>
</html>
